* {
	padding: 0;
	margin: 0;
	border: 0;
	font-family: 'Roboto', sans-serif;
}

body {
	background: #EDF5FF
}

ul {
	list-style-position: inside;
}

img {
	max-height:200px;
	max-width:200px;
	border-radius:50%;
}

hr {
	display:block;
	border-style:inset;
	border-width:1px;
	color:#666666;
	margin: 10px 0px;
}

#desc {
	text-align: justify;
	line-height: 2;
}

h2 {
	text-align: center;
	color: #444444;
}

h2 .fas {
	color: #FFFFFF;
}

h2 .fa-circle {
	color: #444444;
}

a {
	text-decoration: none;
	color: #000000;
}

a:hover {
	text-decoration: underline;
}

#social-links a:hover {
	text-decoration: none;
}

sup .fas {
	color: #666666;
}

#social-links .fas, #social-links .fab {
	padding: 0px 5%;
}

#social-links .fas:hover, #social-links .fab:hover {
	transform: scale(1.2);
	transition: transform 0.2s ease-out;
}

.rounded-box {
	border: 1px solid #F1F1F1;
	border-radius: 10px;
	background-color: #FFFFFF;
	text-align: center;
	margin: 10px;
	padding: 10px 8px;
	box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1), 0 3px 10px 0 rgba(0, 0, 0, 0.05);
}

.bg, .bg1 {
	width: 100%;
	height: 100%;
	position: fixed;
}

.bg {
	z-index: -2;
	background: #369497;
	-webkit-clip-path: polygon(68% 25%, 100% 13%, 100% 100%, 0 100%, 0% 75%, 36% 59%);
	clip-path: polygon(68% 25%, 100% 13%, 100% 100%, 0 100%, 0% 75%, 36% 59%);
}

.bg1 {
	z-index: -1;
	background: #27F8FF;
	background: linear-gradient(135deg, #28B9BE, #27F8FF);
	-webkit-clip-path: polygon(70% 33%, 100% 13%, 100% 100%, 0 100%, 0% 75%, 38% 67%);
	clip-path: polygon(70% 33%, 100% 13%, 100% 100%, 0 100%, 0% 75%, 38% 67%);
}

@supports ((backdrop-filter: blur(5px)) or (-webkit-backdrop-filter: blur(5px))) {
	.rounded-box {
		background-color: rgba(255, 255, 255, 0.6);
		-webkit-backdrop-filter: blur(5px);
		backdrop-filter: blur(5px);
	}
}

@supports not ((backdrop-filter: blur(5px)) or (-webkit-backdrop-filter: blur(5px))) {
	.rounded-box {
		background-color: rgba(255, 255, 255, 0.95);
	}
}

.footer {
	text-align: center;
	color: #FFFFFF;
}

.fa-li {
	color: #666666;
}

.fa-github {
	color: #333333;
}

.fa-twitter {
	color: #1DA1F2;
}

.fa-linkedin {
	color: #0077B5;
}

.fa-file-download {
	color: #007EE5;
}

@media only screen and (min-width: 992px) {
	body {
		display: grid;
		grid-template-columns: 20% 1fr 20%;
		grid-template-rows: 35% auto 20px;
		grid-template-areas: 
		". header ."
		". main ."
		". footer .";
	}

	.bg {
		-webkit-clip-path: polygon(65% 35%, 100% 17%, 100% 100%, 10% 100%, 35% 80%);
		clip-path: polygon(65% 35%, 100% 17%, 100% 100%, 10% 100%, 35% 80%);
	}

	.bg1 {
		-webkit-clip-path: polygon(75% 35%, 100% 17%, 100% 100%, 10% 100%, 45% 80%);
		clip-path: polygon(75% 35%, 100% 17%, 100% 100%, 10% 100%, 45% 80%);
	}

	.header {
		grid-area: header;
		display: inline-grid;
		grid-template-rows: auto auto;
		grid-template-areas: 
			"description"
			"links";
	}

	#description {
		grid-area: description;
		display: grid;
		grid-template-columns: 2fr 3fr;
		grid-template-rows: auto auto;
		grid-template-areas: 
			"name name"
			"dp desc";
	}

	#name {
		grid-area: name;
	}

	#dp {
		grid-area: dp;
	}

	#desc {
		grid-area: desc;
		align-self: center;
		padding-right: 10%;
	}

	#social-links {
		grid-area: links;
	}

	#desc-separator {
		display:block;
		border-style:inset;
		border-width:0px;
		color:#666666;
		margin: 0px 0px;
	}

	.main {
		grid-area: main;
	}

	.footer {
		grid-area: footer;
	}
}
